@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;

    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;

    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;

    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;

    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;

    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
    --backgroundImage: linear-gradient(
        0deg,
        transparent 9%,
        rgba(255, 255, 255, 0.2) 10%,
        rgba(255, 255, 255, 0.2) 12%,
        transparent 13%,
        transparent 29%,
        rgba(255, 255, 255, 0.1) 30%,
        rgba(255, 255, 255, 0.1) 31%,
        transparent 32%,
        transparent 49%,
        rgba(255, 255, 255, 0.1) 50%,
        rgba(255, 255, 255, 0.1) 51%,
        transparent 52%,
        transparent 69%,
        rgba(255, 255, 255, 0.1) 70%,
        rgba(255, 255, 255, 0.1) 71%,
        transparent 72%,
        transparent 89%,
        rgba(255, 255, 255, 0.1) 90%,
        rgba(255, 255, 255, 0.1) 91%,
        transparent 92%,
        transparent
      ),
      linear-gradient(
        90deg,
        transparent 9%,
        rgba(255, 255, 255, 0.2) 10%,
        rgba(255, 255, 255, 0.2) 12%,
        transparent 13%,
        transparent 29%,
        rgba(255, 255, 255, 0.1) 30%,
        rgba(255, 255, 255, 0.1) 31%,
        transparent 32%,
        transparent 49%,
        rgba(255, 255, 255, 0.1) 50%,
        rgba(255, 255, 255, 0.1) 51%,
        transparent 52%,
        transparent 69%,
        rgba(255, 255, 255, 0.1) 70%,
        rgba(255, 255, 255, 0.1) 71%,
        transparent 72%,
        transparent 89%,
        rgba(255, 255, 255, 0.1) 90%,
        rgba(255, 255, 255, 0.1) 91%,
        transparent 92%,
        transparent
      );
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@layer components {
  .marquee-30 {
    animation: marquee 30s linear infinite;
  }
  .marquee-15 {
    animation: marquee 15s linear infinite;
  }
  .marquee-10 {
    animation: marquee 10s linear infinite;
  }
  .before-gradient::before {
    @apply absolute inset-0 left-0 bg-gradient-to-b from-transparent from-0% dark:to-gray-900 to-gray-300 to-100%  pointer-events-none;
    content: '';
  }
}
html,
body {
  scroll-behavior: smooth;
}
@keyframes marquee {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-100%);
  }
}
@layer utilities {
  .radial-gradient-bg {
    background-image: radial-gradient(
      circle at var(--bg-mouse-x) var(--bg-mouse-y),
      var(--gradient-center) 5%,
      var(--gradient-edge) 40%
    );
  }
  /* .animated-text {
    background: radial-gradient(
      circle at var(--text-mouse-x) var(--text-mouse-y),
      var(--gradient-text-center) 0%,
      var(--gradient-text-edge) 40%
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  } */
}

@layer utilities {
  .animated-text {
    background: radial-gradient(
      circle at var(--text-mouse-x) var(--text-mouse-y),
      var(--gradient-text-center) 0%,
      var(--gradient-text-edge) 40%
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent;
  }
}
/* background: radial-gradient(
      circle at var(--mouse-x) var(--mouse-y),
      rgb(226, 226, 226) 0%,
      rgba(0, 9, 12, 0.1) 40%
    ); */
.AccordionItem {
  border-radius: 8px;
  overflow: hidden;
  margin-bottom: 20px;
  background-color: #fff;
  color: black;
  overflow: hidden;
}

.embla__progress__bar {
  background-color: #000;
  position: absolute;
  width: 100%;
  top: 0;
  bottom: 0;
  left: -100%;
}

.embla__slide,
.animated_slider {
  transition: opacity 0.2s ease-in-out;
}
.embla__slide:not(.is-snapped) {
  opacity: 0.16;
}
.embla__slide {
  opacity: 1;
}
.slider_content {
  backface-visibility: hidden;
}

.animated_slider .slide-heading {
  opacity: 0;
  transition: opacity 0.8s ease-in-out;
}
.animated_slider.is-snapped .slide-heading {
  opacity: 1;
}
/* :is(.dark .dark\:border-slate-800) {
} */

/* .code-check {
  background-color: transparent;
  background-image: linear-gradient(
      0deg,
      transparent 9%,
      rgba(255, 255, 255, 0.2) 10%,
      rgba(255, 255, 255, 0.2) 12%,
      transparent 13%,
      transparent 29%,
      rgba(255, 255, 255, 0.1) 30%,
      rgba(255, 255, 255, 0.1) 31%,
      transparent 32%,
      transparent 49%,
      rgba(255, 255, 255, 0.1) 50%,
      rgba(255, 255, 255, 0.1) 51%,
      transparent 52%,
      transparent 69%,
      rgba(255, 255, 255, 0.1) 70%,
      rgba(255, 255, 255, 0.1) 71%,
      transparent 72%,
      transparent 89%,
      rgba(255, 255, 255, 0.1) 90%,
      rgba(255, 255, 255, 0.1) 91%,
      transparent 92%,
      transparent
    ),
    linear-gradient(
      90deg,
      transparent 9%,
      rgba(255, 255, 255, 0.2) 10%,
      rgba(255, 255, 255, 0.2) 12%,
      transparent 13%,
      transparent 29%,
      rgba(255, 255, 255, 0.1) 30%,
      rgba(255, 255, 255, 0.1) 31%,
      transparent 32%,
      transparent 49%,
      rgba(255, 255, 255, 0.1) 50%,
      rgba(255, 255, 255, 0.1) 51%,
      transparent 52%,
      transparent 69%,
      rgba(255, 255, 255, 0.1) 70%,
      rgba(255, 255, 255, 0.1) 71%,
      transparent 72%,
      transparent 89%,
      rgba(255, 255, 255, 0.1) 90%,
      rgba(255, 255, 255, 0.1) 91%,
      transparent 92%,
      transparent
    );

  background-size: 50px 50px;
} */
@layer utilities {
  .step {
    counter-increment: step;
  }

  .step:before {
    @apply absolute w-9 h-9 bg-muted rounded-full font-mono font-medium text-center text-base inline-flex items-center justify-center -indent-px border-4 border-background;
    @apply ml-[-50px] mt-[-4px];
    content: counter(step);
  }
}

@property --border-angle {
  inherits: false;
  initial-value: 0deg;
  syntax: '<angle>';
}

html.light[data-theme='dark'] {
  display: none;
}

html.dark[data-theme='light'] {
  display: none;
}
.shiki {
  padding: 0px 10px 0px 10px;
  overflow-wrap: break-word;
}
/* 
.image {
  width: 200px;
  position: absolute;
  transform: translate(-50%, -50%);
} */

/* .image[data-status='inactive'] {
  opacity: 0;
}

.image[data-status='active'] {
  opacity: 1;
} */

.imageFigure {
  max-width: 100%;
  clip-path: url(#clip-squiggle);
}

.imageFigure img {
  transition: 0.3s all;
  height: 350px;
  vertical-align: bottom;
  object-fit: cover;
}

.imageFigure img:hover {
  transform: scale(1.03);
}

.imageFigure.clip-rect {
  clip-path: url(#clip-rect);
}
.imageFigure.clip-another {
  clip-path: url(#clip-another);
}
.imageFigure.clip-another1 {
  clip-path: url(#clip-another1);
}
.imageFigure.clip-another2 {
  clip-path: url(#clip-another2);
}
.imageFigure.clip-another3 {
  clip-path: url(#clip-another3);
}
.imageFigure.clip-another4 img {
  aspect-ratio: 2/2;
  height: auto;
}
.imageFigure.clip-another4 {
  clip-path: url(#clip-another4);
}

.modern_masking {
  aspect-ratio: 1713/667;
  background-color: tomato;
  mask-image: url("data:image/svg+xml,%3Csvg width='139' height='52' viewBox='0 0 139 52' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M13.8732 52H58.6686H104.216C106.623 52 107.615 50.0127 107.81 49.0191V41.9809C108.01 38.6688 110.066 38.0616 111.069 38.172H134.804C138.481 37.9732 139.122 36.0467 138.983 35.1083V3.64331C138.983 1.32484 136.921 0.248408 135.89 0H125.444C118.841 0 123.772 7.20382 118.173 7.20382H2.8415C0.5683 7.40255 0 9.38429 0 10.3503V21.3631C0 23.3503 1.89433 24.2335 2.8415 24.4268H7.27089C9.67781 24.493 10.2238 25.8896 10.196 26.5796V47.6115C10.0622 51.1223 12.5917 52 13.8732 52Z' fill='%23D9D9D9'/%3E%3C/svg%3E%0A");
  -webkit-mask-image: url("data:image/svg+xml,%3Csvg width='139' height='52' viewBox='0 0 139 52' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M13.8732 52H58.6686H104.216C106.623 52 107.615 50.0127 107.81 49.0191V41.9809C108.01 38.6688 110.066 38.0616 111.069 38.172H134.804C138.481 37.9732 139.122 36.0467 138.983 35.1083V3.64331C138.983 1.32484 136.921 0.248408 135.89 0H125.444C118.841 0 123.772 7.20382 118.173 7.20382H2.8415C0.5683 7.40255 0 9.38429 0 10.3503V21.3631C0 23.3503 1.89433 24.2335 2.8415 24.4268H7.27089C9.67781 24.493 10.2238 25.8896 10.196 26.5796V47.6115C10.0622 51.1223 12.5917 52 13.8732 52Z' fill='%23D9D9D9'/%3E%3C/svg%3E%0A");
  mask-repeat: no-repeat;
  -webkit-mask-repeat: no-repeat;
  mask-size: contain;
  -webkit-mask-size: contain;
}
@font-face {
  font-family: 'Monument Extended bold';
  src:
    url('/fonts/MonumentExtended-Ultrabold.woff2') format('woff2'),
    url('/fonts/MonumentExtended-Ultrabold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Monument Extended ';
  src:
    url('/fonts/MonumentExtended-Regular.woff2') format('woff2'),
    url('/fonts/MonumentExtended-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
.newFont {
  font-family: 'Raleway', sans-serif;
}

/* .animated-text {
  background: radial-gradient(
    circle at var(--mouse-x) var(--mouse-y),
    rgb(226, 226, 226) 0%,
    rgba(0, 9, 12, 0.1) 40%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
   text-shadow:
    1px -1px 0 rgba(255, 255, 255, 0.8),
    1px -1px 0 transparent,
    1px 1px 0 transparent,
    1px 1px 0 transparent;  
} */

/* .animated-text::before {
  content: attr(data-text);
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: radial-gradient(
    circle at var(--mouse-x) var(--mouse-y),
    rgba(255, 255, 255, 0.5) 0%,
    rgba(20, 19, 19, 0.534) 50%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  mix-blend-mode: overlay;
} */
@media screen and (min-width: 1100px) {
  .labscontainer {
    width: 1600px;
  }
}

@layer utilities {
  .blur-vignette {
    position: absolute;
    inset: 0;
    border-radius: var(--radius);
    -webkit-backdrop-filter: blur(var(--blur));
    backdrop-filter: blur(var(--blur));
    --r: max(var(--transition-length), calc(var(--radius) - var(--inset)));
    --corner-size: calc(var(--r) + var(--inset)) calc(var(--r) + var(--inset));
    --corner-gradient: transparent 0px,
      transparent calc(var(--r) - var(--transition-length)), black var(--r);
    --fill-gradient: black, black var(--inset),
      transparent calc(var(--inset) + var(--transition-length)),
      transparent calc(100% - var(--transition-length) - var(--inset)),
      black calc(100% - var(--inset));
    --fill-narrow-size: calc(100% - (var(--inset) + var(--r)) * 2);
    --fill-farther-position: calc(var(--inset) + var(--r));
    -webkit-mask-image: linear-gradient(to right, var(--fill-gradient)),
      linear-gradient(to bottom, var(--fill-gradient)),
      radial-gradient(at bottom right, var(--corner-gradient)),
      radial-gradient(at bottom left, var(--corner-gradient)),
      radial-gradient(at top left, var(--corner-gradient)),
      radial-gradient(at top right, var(--corner-gradient));
    -webkit-mask-size:
      100% var(--fill-narrow-size),
      var(--fill-narrow-size) 100%,
      var(--corner-size),
      var(--corner-size),
      var(--corner-size),
      var(--corner-size);
    -webkit-mask-position:
      0 var(--fill-farther-position),
      var(--fill-farther-position) 0,
      0 0,
      100% 0,
      100% 100%,
      0 100%;
    -webkit-mask-repeat: no-repeat;
  }
}
